<launch>
	<arg name="robot_name" default="rospider" />
	<arg name="tf_prefix" default="" />
	<arg name="tf_enable" default="false" />
	<arg name="odom_enable" default="false" />

	<node name="rospider_controller1" 
		  pkg="rospider_controller" 
		  type="rospider_controller_group_main.py" 
		  output="screen" respawn="true"> 
		<param name="odom_enable" value="$(arg odom_enable)" />
		<param name="tf_prefix" value="$(arg tf_prefix)" />
		<remap from="/rospider_controller1" to="/rospider_controller" />
	</node>
</launch>
