<launch>
	<include file="$(find rospider_bringup)/launch/base.launch"></include>	
	<include file="$(find lab_config)/launch/lab_config_manager.launch"></include>
	<include file="$(find rospider_app)/launch/self_balancing.launch"></include> 
	<include file="$(find rospider_app)/launch/line_following.launch"></include>
	<include file="$(find rospider_app)/launch/object_tracking.launch"></include>
	<include file="$(find rospider_app)/launch/hand_gesture.launch"></include>
	<include file="$(find rospider_app)/launch/lidar.launch"></include>

	<node name="restart_bringup" pkg="rospider_bringup" type="restart_bringup.py" output="screen" />
</launch>
