<launch>
  <arg name="scan_raw" default="scan" />
  <arg name="scan_topic" default="scan_filtered" />
  <arg name="base_frame" default="lidar_link" />

  <!--雷达过滤-->
  <node pkg="laser_filters" type="scan_to_scan_filter_chain" output="screen" name="laser_filter_2">
    <rosparam ns="scan_filter_chain" subst_value="true">

    - name: box_filter
      type: laser_filters/LaserScanBoxFilter
      params:
          box_frame: $(arg base_frame)
          min_x: -0.3
          max_x: 0.50
          min_y: -0.30
          max_y: 0.30
          min_z: -0.2
          max_z: 0.2

    - name: range_filter
      type: laser_filters/LaserScanRangeFilter
      params:
        use_message_range_limits: false
        lower_threshold: 0.30
        upper_threshold: 16.0
        lower_replacement_value: 0.0
        upper_replacement_value: 0.0

    </rosparam>
    <remap from="scan" to="$(arg scan_raw)" />
    <remap from="scan_filtered" to="$(arg scan_topic)" />

  </node>
</launch>

